<header class='top-page-header'>

  <div class='app-name'>
    <div class='top-rogo'>
      <%= image_tag("logo1.jpg", class:'top-image')%>
      <h1 class='subtitle'>美しいを追求</h1>
    </div>
    
    <div class='navigate'>
      <ul class='lists-top-right'>
        <% if user_signed_in? %>
          <li ><%= link_to current_user.name, class: "nickname" %> </li>   
          <li ><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li> 
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path,  class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path,  class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='line'>
  </div>

  <div class='nav'>
    <ul class='lists-right'>
        <li><%= link_to 'PROFILE',  class: "profile" %> </li> 
        <li><%= link_to 'REQUEST', new_fix_path,  class: "request" %></li>
        <li><%= link_to 'MY REQ', user_path(fixes.ids), class: "my-req" %></li>
    </ul>
  </div>
</header>