<%= render "shared/second-header"%>

<div class="top-background">

<%# <% 画面上部のアプリメインテーマ説明部 %> 
    <div class='service-image'>
        <div class='service'>
          <h2 class='service-title'>
            illustratum
          </h2>
          <p class='service-explain'>
            イラスト添削アプリillustratumはイラストを描きたいけどうまくいかない。自分で描いたイラストのどこ直せばいいのかわからない。
          </p>
          <p class='service-explain'>
            そんな疑問を世界中の人に聞いてみよう！自分で描いたイラストに世界中の人が修正を加えてくれる！
          </p>
          <p class='service-explain'>
            修正を加えた人も一人では気づけなかった部分に気づいてきっと前よりスキルは上がるはず！
          </p>
        </div>
    </div>
 
  <%# retouch_list %>
  <div class="request-title-block">
    <h1 class='request-title'>添削リクエスト</h1>
  </div>
  
  <div class='retouch-contents'>
      <h2 class='request-new'>最新の投稿</h2>
      <div class='retouch-lists'>
        <% @fixes.each do |fix| %>
          <div class='list'>
            <%= link_to fix_path(fix.id), method: :get do %>
              <div class="sid">
                <%= image_tag fix.image,class: :request_img, method: :get %>
                <div class='request-info'>
                  <div class='index_fix_title'>
                    <%= link_to fix.title, fix_path(fix.id), class: :top_fix_title, method: :get %>
                  </div>
                  <div class="request-name-date">
                    <div class='index-user-name'>
                      <%= link_to fix.user.name %>
                    </div>
                    <div class="request-date">
                      <%= l fix.updated_at %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>

  <%# ページネイション %>
  <div class='p-top__paginate'>
    <%= paginate @fixes %>
  </div>

</div>

<%= render partial: "footer" %>
