<%= render "shared/second-header"%>

<%= link_to '編集', edit_user_registration_path, methd: :get, class: "profile" %>

<div class="myreq-main-title">
  <h1 class="myreq">投稿一覧</h1>
</div>

<% if @fixes.length == 0 %>
<div class="none-request">
    まだ投稿はありません
</div>
<% end %>

  <div class="request-index-block">
  <% @fixes.each do |fix| %>
    <div class='list-request'>

    <%= link_to fix_path(fix.id), method: :get do %>
      <div class="myreq-side-block">
        <div class='request-index-info'>
           <div class="request-index-image">
            <%= image_tag fix.image,class: :request_index_img, method: :get %>
           </div>
          <% end %>

            <div class='request-index-name'>
              
              <div class='index_fix_title_name'>
                <div class='request-index_fix_title'>
                  <p class="myreq-title">タイトル :</p>
                  <%= link_to fix.title, fix_path(fix.id), class: :top_fix_title, method: :get %>
                </div>
                <div class='request-index-genre'>
                  <p class='request-index_fix_genre'>ジャンル : </p>
                  <div class="myreq-genre">
                    <%= fix.genre.name %>
                  </div>
                </div>
              </div>

              <div class='request-index-detail'>
                <div class='request-index-detail-text'>
                  <div class='request-index_fix_comment'>
                    <p class="request-index-comment">リクエスト詳細 :</p>
                    <div class="myreq-comment">
                      <%= fix.comment %>
                    </div>
                 </div>
                </div>
                <div class="myreq-btn">
                  <div class="myreq-edit">
                    <%= link_to "編 集", edit_fix_path(fix.id), class: "myreq-edit-btn" %>
                  </div>
                  <div class="myreq-destroy">
                    <%= link_to "削 除",fix_path(fix.id),data: { confirm: '本当に削除しますか？' }, class: "myreq-destroy-btn", method: :delete %>
                  </div>
                </div>
              </div> 
          
            </div>

        </div>
      </div>


    </div>
    <% end %>
  </div>

<div class='p-top__paginate'>
  <%= paginate @fixes %>
</div>

<%= render "fixes/footer" %>