<header class='top-page-header'>

  <div class='app-name'>
    <div class='top-rogo'>
      <%= image_tag("logo1.jpg", class:'top-image')%>
      <h1 class='subtitle'>美しいを追求</h1>
    </div>
    <div class='navigate'>
      <ul class='lists-top-right'>
          <li ><%= link_to 'ログアウト',  method: :delete, class: "logout" %> </li> 
          <li><%= link_to 'ログイン',  class: "login" %></li>
          <li><%= link_to '新規登録',  class: "sign-up" %></li>
      </ul>
    </div>
    <%# <div class='retouch-request'>  %>
      <%# <%= link_to 'request', class: "request" %> 
    <%# </div> %>
  </div>

  <div class='line'>
  </div>

  <div class='nav'>
    <ul class='lists-right'>
        <li><%= link_to 'PROFILE',  class: "profile" %> </li> 
        <li><%= link_to 'REQUEST',  class: "request" %></li>
        <li><%= link_to 'MY REQ',  class: "my-req" %></li>
    </ul>
  </div>
</header>